.movie-details-item{
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.movie-details-item img{
    max-height: 274px;
    border: 1px solid black;
}

.genres-title{
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
}