/* .movie-gallery-item{
    display: inline-block;
    margin: 1em;
    position: relative;
    
}

.movie-gallery-item:hover img{
    opacity: 20%;
}

.movie-gallery-item:hover p{
    visibility: visible;
}

.movie-gallery p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  } */