.edit-movie-form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}

.edit-movie-form select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}

.edit-movie-form button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}


.edit-movie-form textarea{
    height: 270px;
    width: 270px;
}