header {
    padding: 2em;
    /* color: white; */
    /* background-color: black; */
    margin-bottom: 1em;
    background-image: url("/images/film-reel.png");
    background-size: auto 100%;

}

.app-header h1{
    color: rgb(223, 87, 24);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
}
.header-div ul {
    padding-left: 0;
    margin-bottom: 0;
}

.header-div li {
    display: inline-block;
    list-style: none;
    margin-left: .25em;
    margin-right: .25em;
    font-size: 1em;
    color: white;
    border: 2px solid black;
    padding: .2em;
}
.header-div li:hover{
    background-color: black;
    color: lightblue;
}

.header-div li:hover a{
    color: lightblue;
}

.header-div a{
    text-decoration: none;
}

.header-div a:link{
    color: black;
}

.header-div a:visited{
    color: black;
}

.header-div img{
    margin-bottom: .25em;
}